<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- BEGIN SPGENGO SETTINGS-->
    <add key="wGengo_apiUrl" value="http://api.sandbox.mygengo.com/v1/" />
    <add key="wGengo_responseFormat" value="json" />
    <add key="wGengo_useProxy" value="false" />
    <add key="wGengo_proxyHost" value="10.8.0.35" />
    <add key="wGengo_proxyPort" value="3128" />
    <add key="wGengo_proxyUsername" value="username" />
    <add key="wGengo_proxyPassword" value="password" />
    <add key="wGengo_jobCount" value="10" />
    <add key="wGengo_debug" value="true" />
    <add key="wGengo_showSuccessMsg" value="false" />
    <!-- test settings -->
    <add key="wGengo_delay" value="500" />
    <add key="wGengo_modeOffline" value="false" />
    <!-- delay (milliseconds)-->
    <!-- END SPGENGO SETTINGS-->
  </appSettings>
</configuration>